
<!DOCTYPE html>
<html>
    <head>
        <%-  include('../partials/head') -%>
        <title>Social Media</title>
      </head>
    <body id="socialMediaBg">
        <%-  include('../partials/header') -%>
        Name: <%= name %>
        <h1 class="text-center">FACE TWIT</h1>
        <div id="input-container">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">Post Title</span>
                </div>
                <input type="text" id="post_title" class="form-control" placeholder="Post Title" aria-label="Post Title" aria-describedby="basic-addon2" required>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">Your Image URL</span>
                </div>
                <input type="text" id="post_image_url" class="form-control" placeholder="Your File URL must end in jpg, jpeg, png, or gif" aria-label="jpg, jpeg, png, or gif" aria-describedby="basic-addon2">
            </div>
            <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text">WRITE</span>
                    </div>
                    <textarea id="post_body" class="form-control" aria-label="With textarea" maxlength="150" required></textarea>
            </div>
            <div class="text-center formatpostbutton">
                <button type="submit" id="post" class="btn btn-success">POST</button>
            </div>
        </div>

        <div id="post-container" class="row"></div> <!-- For some reason class card-deck is not responsive -->
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="./js/axiosCallBacks.js" type="text/javascript"></script>

    <script type="text/javascript">

        publish();
    
        //var postContainer = document.getElementById('post-container'); //start of card-deck
    
        document.getElementById("post").onclick = function(event) 
        {   
            if(!window.localStorage.getItem('user_id')) 
            {
                alert("You must login or register!");
            }
            else 
            {
                event.preventDefault();

                let post_title = $("#post_title").val();
                let post_image_url = $("#post_image_url").val();
                let post_body = $("#post_body").val();

                let data = {"post_title": post_title, "post_body": post_body, "post_image_url": post_image_url,"user_id": window.localStorage.getItem('user_id')};

                let successCallback = function(response)
                {
                    console.log(response);
                    publish();
                };

                let errorCallback = function(error)
                {
                    console.log(error);
                };

                apiInsertPost(data, successCallback, errorCallback);
            }
        }
    
        //Calls the messages API with GET
        //Loops Through users data and populates separately in card data (bootstrap)
        function publish()
        { 
            //Populate the feed with initial data
            let successCallback = function(response)
            {
                let postElement = document.getElementById('post-container');
                let postContainer = '';

                //console.log(response);
                for(let i = 0; i< response.data.length; i++) 
                {
                    postContainer += 
                        `<div class="col-sm-3 mb-2" id=${response.data[i].id}>
                            <div class="card border border-white">
                                <div class="card-body">
                                    ${response.data[i].post_image_url ? `<img src=${response.data[i].post_image_url} class="card-img-top" >` : ''} 
                                    <p class="card-text post-contents">${response.data[i].post_body}</p>
                                    <p class="card-text">
                                        <small class="text-muted">${response.data[i].name} created on ${response.data[i].post_date_updated}</small>
                                    </p>
                                    <div class="form-group">
                                        <label>Colors</label>
                                        <select class="form-control" onchange="changeColor(this) name="colorlist"></select>                                  
                                    </div>
                                    <div class="edit-post" onclick="editPost(this)"><button type="button" class="btn btn-info" ">Edit</button></div>
                                    <button class="float-right btn btn-light delete-post" onclick="deletePost(this)">Delete</button>
                                </div>
                            </div> 
                            <div id="commentsContainer${response.data[i].id}">${getAllComments(response.data[i].id)}</div>
                        </div>`;
                }
                
                postElement.innerHTML = postContainer;
            }

            let errorCallback = function(error)
            {
                let postElement = document.getElementById('post-container');
                postElement.innerHTML = `<div class="alert alert-danger" role="alert">
                ${error}
                </div>`;
                console.log(error);
            }

            let data = { "id" : window.localStorage.getItem('user_id') };
            //alert(window.localStorage.getItem('user_id'))

            apiGetAllPosts(successCallback, errorCallback,data);
            
        }
            
   
        
        function getAllComments(post_id)
        {
            let data = { "id" : post_id };
            let insertComments = '';
            let commentsTotal = 0;

            let successCallback = function(results)
            {
                commentsTotal = results.data.length;
                insertComments =  results.data.map(function (value,index)
                {
                    return `


                    <div class="card-body">
                        <h5 class="card-title">${value.name}</h5>
                        <p class="card-text">${value.comment}</p>
                        <p class="small">${value.comment_date}</p>
                    </div>
                   `;   
                }).join(''); 
                
                document.getElementById(`commentsContainer${post_id}`).innerHTML =
                
                `<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse${post_id}" aria-expanded="true" aria-controls="collapseOne">
          COMMENTS (${commentsTotal})
        </button>
      </h2>
    </div>

    <div id="collapse${post_id}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            ${insertComments}
    </div>
  </div>
</div>`;
            }


            let errorCallback = function(error)
            {
                //let postElement = document.getElementById('post-container');
                console.log(error);
            }

            apiGetAllComments(successCallback, errorCallback, data);
        }
    
    
        //Grabs all current elements class delete-post and attach onclick element.    
        //item is reference to the current class the user is in
        function deletePost(item)
        {    
            let elements = item.parentNode.parentNode.parentNode; //Goes to card-body-> then card -> then looks at col-m3 div
    
            let data = {
                id : elements.id
            };
    
            if(!window.localStorage.getItem('user_id')) 
            {
                alert("You must login or register!");
            }
            else 
            {
                let successCallback = function(response)
                {
                    console.log(response);
                    publish();
                };

                let errorCallback = function(error)
                {
                    console.log(error);
                };

                apiDeletePost(data, successCallback, errorCallback);
            }
    
        }
        
        function editPost(item)
        {
    
            var elements = item.parentNode.parentNode.parentNode; //Goes to card-body-> then card -> then looks at col-m3 div
            var selectedElement = document.getElementById(elements.id);
            var getPost = selectedElement.querySelector(".post-contents");
    
            getPost.innerHTML = `<div class="input-group">
                                   
                                    <textarea class="form-control edited-contents" aria-label="With textarea"></textarea>
                                    </div>`;
    
            selectedElement.querySelector(".edit-post").classList.add("save-post");
            selectedElement.querySelector(".edit-post").setAttribute('onclick', "savePost(this)");
            selectedElement.querySelector(".edit-post").innerHTML = 
            `
            <button type="button" class="btn btn-info">Save</button>
            `;
    
            selectedElement.querySelector(".edit-post").classList.remove("edit-post");
        }
    
        function savePost(item)
        {
            let elements = item.parentNode.parentNode.parentNode; //Goes to card-body-> then card -> then looks at col-m3 div
            let newPostValue = document.getElementById(elements.id).querySelector(".edited-contents").value;
    
            let successCallback = function(response)
            {
                console.log(response);
                document.getElementById(elements.id).querySelector(".save-post").innerHTML = 
                `
                <button type="button" class="btn btn-info">Edit</button>
                `; 
                var selectedElement = document.getElementById(elements.id);
                selectedElement.querySelector(".save-post").classList.add("edit-post");
                selectedElement.querySelector(".save-post").setAttribute('onclick', "editPost(this)");
                selectedElement.querySelector(".save-post").innerHTML = 
                `
                <button type="button" class="btn btn-info">Edit</button>
                `;
    
                selectedElement.querySelector(".edit-post").classList.remove("save-post");

                publish();
            };   
            
            let errorCallback = function(error)
            {
                console.log(error);
            }

            let data = {"id" : elements.id, "post_body": newPostValue, "user_id": window.localStorage.getItem('user_id')};
            console.log(elements.id);
            apiEditPost(data, successCallback, errorCallback);

        }
    
        //Populates colorlist options select field 
        function colorList(selectElement)
        {
            var colorsToAdd = ['white','blue','green'];
            for(var i = 0; i < colorsToAdd.length;i++)
            {
            var colorOptions = document.createElement("option");
            colorOptions.text = colorsToAdd[i];
            selectElement.appendChild(colorOptions);
            }
        }
        
        //Clear input data once user clicks post button
        function clearInputData()
        {
           document.getElementById('name').value = "";
           document.getElementById('input-file').value = "";
           document.getElementById('contents').value = "";
        }
    
        </script>
    </body>
</html>